In [15]:
import numpy as np
import pandas as pd
import random

data = list(range(4,10))
data1=np.array(random.sample(data,5))
print(data1)
names = ['a','b','c','d','e']

d = {}
for i in range(len(names)):
    d[names[i]] = data1[i]
print(d)

data = pd.Series(d)
print(data)

[7 5 4 9 8]
{'a': 7, 'b': 5, 'c': 4, 'd': 9, 'e': 8}
a    7
b    5
c    4
d    9
e    8
dtype: int64

In [18]:
print(data[-3:])
print(data['c':'e'])

c    4
d    9
e    8
dtype: int64
c    4
d    9
e    8
dtype: int64

In [19]:
d ={'year':{'0':2017,'1':2018,'2':2019},
    'price':{'0':10,'1':20,'2':30}}
data2 = pd.DataFrame(d,index=list('012'),columns=['year','price'])
print(data2)

   year  price
0  2017     10
1  2018     20
2  2019     30

In [46]:
arr = np.random.randint(5,15,(5,3))
data3 = pd.DataFrame(arr,index=list('acefh'),columns=['one','two','three'])
print(data3)

   one  two  three
a    7   10     13
c   11   14      5
e   13    9     14
f    9    9      5
h   12   13     11

In [52]:
df_change = data3
df_change.loc['a',['one','two']] = [float('nan'),-100]
df_change.loc['c',['two','three']] = -99
df_change.loc[list('acefh'),'four'] = 'test'
print(df_change)
df_change = df_change.reindex(index=list('abcedefgh'))
df_change

   one  two  three  four
a  NaN -100     13  test
c   11  -99    -99  test
e   13    9     14  test
f    9    9      5  test
h   12   13     11  test

   one    two  three  four
a  NaN -100.0   13.0  test
b  NaN    NaN    NaN   NaN
c   11  -99.0  -99.0  test
e   13    9.0   14.0  test
d  NaN    NaN    NaN   NaN
e   13    9.0   14.0  test
f    9    9.0    5.0  test
g  NaN    NaN    NaN   NaN
h   12   13.0   11.0  test

In [59]:
print(df_change.dropna())
print('\n')
print(df_change.dropna(how='all'))
print('\n')
print(df_change.fillna(0))

  one   two  three  four
c  11 -99.0  -99.0  test
e  13   9.0   14.0  test
e  13   9.0   14.0  test
f   9   9.0    5.0  test
h  12  13.0   11.0  test


   one    two  three  four
a  NaN -100.0   13.0  test
c   11  -99.0  -99.0  test
e   13    9.0   14.0  test
e   13    9.0   14.0  test
f    9    9.0    5.0  test
h   12   13.0   11.0  test


   one    two  three  four
a    0 -100.0   13.0  test
b    0    0.0    0.0     0
c   11  -99.0  -99.0  test
e   13    9.0   14.0  test
d    0    0.0    0.0     0
e   13    9.0   14.0  test
f    9    9.0    5.0  test
g    0    0.0    0.0     0
h   12   13.0   11.0  test

In [60]:
print(df_change.drop_duplicates())

   one    two  three  four
a  NaN -100.0   13.0  test
b  NaN    NaN    NaN   NaN
c   11  -99.0  -99.0  test
e   13    9.0   14.0  test
f    9    9.0    5.0  test
h   12   13.0   11.0  test